.hidden {
    display: none !important;
}

.loader-over {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 999999;
    background: rgba(0, 0, 0, 0.6);
}

.loader {
    width: 8px;
    height: 40px;
    border-radius: 4px;
    display: block;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: none !important;
    background: currentColor;
    color: #f8f8f8;
    box-sizing: border-box;
    animation: animloader 0.3s 0.3s linear infinite alternate;
}

.loader::after, .loader::before {
    content: '';
    width: 8px;
    height: 40px;
    border-radius: 4px;
    background: currentColor;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 20px;
    box-sizing: border-box;
    animation: animloader 0.3s 0.45s linear infinite alternate;
}

.loader::before {
    left: -20px;
    animation-delay: 0s;
}

@keyframes animloader {
    0% {
        height: 48px
    }

    100% {
        height: 4px
    }
}

.primary-btn-filter {
    display: inline-block;
    position: relative;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    padding: 7px 20px;
    width: 100%;
    color: #ffffff;
    background: #346fdb;
    border: 0.1rem solid #346fdb;
    /* letter-spacing: 1px; */
    border-radius: 10px;
    margin: 23px 0 20px 0;
    -webkit-transition: all, 0.6s;
    -o-transition: all, 0.6s;
}

.primary-btn-filter:hover {
    background: #ffffff;
    color: rgba(144, 139, 232);
    border: 0.1rem solid rgba(144, 139, 232);
    -webkit-transition: all, 0.6s;
    -o-transition: all, 0.6s;
    transition: all, 0.6s;
}

.primary-btn-submit {
    display: inline;
    position: relative;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    padding: 7px 20px;
    width: 100%;
    color: #ffffff;
    background: #346fdb;
    border: 0.1rem solid #346fdb;
    /* letter-spacing: 1px; */
    border-radius: 10px;
    margin: 23px 0 20px 0;
    -webkit-transition: all, 0.6s;
    -o-transition: all, 0.6s;
}

.primary-btn-submit:hover {
    background: #ffffff;
    color: rgba(144, 139, 232);
    border: 0.1rem solid rgba(144, 139, 232);
    -webkit-transition: all, 0.6s;
    -o-transition: all, 0.6s;
    transition: all, 0.6s;
}

.primary-btn-schedule {
    display: block;
    position: relative;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    padding: 7px 20px;
    /* width: 50%; */
    float: right;
    color: #ffffff;
    background: #346fdb;
    border: 0.1rem solid #346fdb;
    /* letter-spacing: 1px; */
    border-radius: 10px;
    -webkit-transition: all, 0.6s;
    -o-transition: all, 0.6s;
}

.primary-btn-schedule:hover {
    background: #ffffff;
    color: rgba(144, 139, 232);
    border: 0.1rem solid rgba(144, 139, 232);
    -webkit-transition: all, 0.6s;
    -o-transition: all, 0.6s;
    transition: all, 0.6s;
}

/* Popup model notifications */
.notifications-popup-success {
    position: fixed;
    top: 100px;
    right: 30px;
    margin: auto;
    border-radius: 12px;
    background: #fff;
    padding: 20px 35px 20px 25px;
    box-shadow: 0 6px 20px -5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transform: translateX(calc(100% + 30px));
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.35);
    z-index: 10000;
    border: 2px solid #4070f4;
}

.notifications-popup-error {
    position: fixed;
    top: 100px;
    right: 30px;
    margin: auto;
    border-radius: 12px;
    background: #fff;
    padding: 20px 35px 20px 25px;
    box-shadow: 0 6px 20px -5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transform: translateX(calc(100% + 30px));
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.35);
    z-index: 10000;
    border: 2px solid #d70018;
}

.active {
    transform: translateX(0%);
}

.notifications-content {
    display: flex;
    align-items: center;
}

.notifications-success {
    display: flex !important;
    align-items: center;
    justify-content: center;
    height: 35px;
    min-width: 35px;
    background-color: #4070f4;
    color: #fff;
    font-size: 20px;
    border-radius: 50%;
}

.notifications-error {
    display: flex !important;
    align-items: center;
    justify-content: center;
    height: 35px;
    min-width: 35px;
    background-color: #d70018;
    color: #fff;
    font-size: 20px;
    border-radius: 50%;
}

.notifications-message {
    display: flex;
    flex-direction: column;
    margin: 0 20px;
}

.message-title {
    font-size: 16px;
    font-weight: 400;
    color: #666666;
    font-weight: 600;
    color: #333;
}

.message-text {
    font-size: 16px;
    font-weight: 400;
    color: #666666;
}

.notifications-close {
    position: absolute;
    top: 10px;
    right: 15px;
    padding: 5px;
    cursor: pointer;
    opacity: 0.7;
}

.notifications-close:hover {
    opacity: 1;
}

/* End popup notifications */
body.no-scroll {
    overflow: hidden;
    /* Prevents scrolling on the body */
}

[data-core-overlay], [data-core-overlay-session] {
    align-items: flex-start;
    bottom: 0;
    box-sizing: border-box;
    display: flex;
    inset-inline-end: 0;
    inset-inline-start: 0;
    overflow: auto;
    padding: 54px 0;
    position: fixed;
    top: 0;
    z-index: 9999;
    -webkit-overflow-scrolling: touch;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    display: none
}

[data-core-overlay-cover] {
    backface-visibility: visible;
    background: #0000007a;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}

.notification {
    width: 520px;
    padding: 30px;
    background-color: white;
    border: 2px solid #FCB322;
    border-radius: 16px;
    z-index: 9999;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media (max-width: 768px) {
    .notification {
        width: 420px;
        padding: 15px;
    }
}

@media (max-width: 480px) {
    .notification {
        width: 320px;
    }
}

.notification-header {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

@media (max-width: 480px) {
    .notification-header {
        margin-bottom: 20px;
    }
}

.notification-icon {
    width: 40px;
    height: 40px;
    border: 2px solid #FCB322;
    background-color: #fff7e6;
    border-radius: 50px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

}

@media (max-width: 480px) {
    .notification-icon {
        width: 36px !important;
        height: 36px;
    }
}

.notification-icon i {
    font-size: 20px;
    color: #FCB322;
}

@media (max-width: 480px) {
    .notification-icon i {
        font-size: 16px;
    }
}

.notification-content {
    margin-left: 15px;
    line-height: 1.2;
}

.notification-title {
    margin-bottom: 5px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    font-size: 17px;
    font-weight: 600;
    /* text-transform: capitalize; */
}

@media (max-width: 480px) {
    .notification-title {
        font-size: 15px;
    }
}

.notification-description {
    font-size: 15px;
    color: #666;
}

@media (max-width: 480px) {
    .notification-description {
        font-size: 13px;
    }
}

.notification-button {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.notification-reload {
    display: inline-block;
    position: relative;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    padding: 7px 20px;
    color: #e57905;
    background: #fff7e6;
    border: 2px solid #e57905;
    border-radius: 40px;
    -webkit-transition: all, 0.4s;
}

@media (max-width: 480px) {
    .notification-reload {
        font-size: 14px;
        padding: 7px 15px;
    }
}

@media(hover: hover) {
    .notification-reload:hover {
        color: #fff7e6;
        background: #FCB322;
        border: 2px solid #FCB322;
        -webkit-transition: all, 0.4s;
    }
}